.container {
  background-image: url("../../assets/images/background.svg");
  overflow: hidden;
  background-color: linear-gradient(
    180deg,
    #121214 -39.34%,
    rgba(18, 18, 20, 0) 72.48%
  );

  .fade {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
